@import 'tailwindcss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-mdc-row {
  @apply h-0!;
}

.mat-mdc-row:nth-child(odd) {
  @apply bg-gray-100!;
}

.mat-mdc-cell {
  @apply border-none! py-3!;
}

.mat-mdc-table {
  @apply min-w-[500px]! border-1! border-gray-300!;
}

.mat-mdc-header-row {
  @apply h-0!;
}
.mat-mdc-header-cell {
  @apply py-4! bg-gray-300! border-none!;
}

.table-cell {
  @apply px-3 py-2 text-left;
}

.header-cell {
  @apply p-3 h-12 text-left font-semibold;
}

.table-row {
  @apply border-b border-gray-300 hover:bg-gray-200 cursor-pointer;
}

.table-header {
  @apply bg-neutral-200;
}

.table-row:nth-child(even) {
  @apply bg-gray-100 hover:bg-gray-200;
}
