<div class="flex justify-center items-center min-h-[calc(100vh-64px)]">
  <mat-card class="w-full max-w-md p-6">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mt-8">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
          @if (loginForm.get('email')?.hasError('required')) {
          <mat-error>Email is required</mat-error>
          } @if (loginForm.get('email')?.hasError('email')) {
          <mat-error>Invalid email format</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" />
          @if (loginForm.get('password')?.hasError('required')) {
          <mat-error>Password is required</mat-error>
          }
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          Login
        </button>
      </form>
      <div class="text-center mt-2 text-gray-600 cursor-pointer" routerLink="/signup">
        Create a new account
      </div>
    </mat-card-content>
  </mat-card>
</div>
