<div class="mt-2">
  <button
    (click)="notificationSeen()"
    [matMenuTriggerFor]="notificationCenter"
    class="relative cursor-pointer"
  >
    <mat-icon>notifications</mat-icon>
    <div
      [ngClass]="{
        'bg-red-600 animate-ping': notify()
      }"
      class="w-2 h-2 rounded-full absolute right-0 top-0"
    ></div>
  </button>
  <mat-menu #notificationCenter="matMenu" class="bg-gray-100! border-1 border-gray-300">
    <div class="p-4 flex flex-col gap-1.5">
      @if (notifications().length) { @for (n of notifications(); track n.id) {
      <div
        (click)="onNotificationClick(n.id)"
        class="border-1 rounded-lg bg-blue-100 border-gray-300 px-2 py-2 hover:bg-blue-200 cursor-pointer"
      >
        <div class="flex gap-2 items-center mb-1">
          <p class="text-blue-900">{{ n.customerName | titlecase }}</p>
          <span class="text-xs rounded-xl px-2 bg-gray-400 text-white">{{
            n.priority | titlecase
          }}</span>
        </div>
        <p>{{ n.subject.length > 40 ? n.subject.substring(0, 60) + '...' : n.subject }}</p>
      </div>
      } } @else {
      <div>No notifications</div>
      }
    </div>
  </mat-menu>
</div>
