<div
  class="flex items-center justify-center max-h-[calc(100vh-96px)] overflow-scroll gap-1 mt-4 relative"
>
  <div>
    <div
      class="bg-neutral-100 border-x-1 border-t-1 border-gray-300 w px-4 py-3 w-full flex justify-between items-center"
    >
      <div class="flex gap-1 items-center">
        <p class="text-4xl">🎫</p>
        <div>
          <p>Ticket #{{ ticketDetail()?.id?.slice(-6) }}</p>
          <p
            class="px-3 py-0.5 rounded-xl text-nowrap text-xs border-1 border-gray-300 text-center"
            [ngClass]="{
              'bg-red-200 text-red-800': ticketDetail()?.status === 'open',
              'bg-yellow-200 text-yellow-800': ticketDetail()?.status === 'in-progress',
              'bg-green-200 text-green-800': ticketDetail()?.status === 'closed'
            }"
          >
            {{ ticketDetail()?.status | titlecase }}
          </p>
        </div>
      </div>

      <div>
        @if (ticketDetail()?.status === 'open') {
        <button
          class="bg-green-300 text-green-800 border-1 border-green-400 cursor-pointer hover:bg-green-200 px-3 py-2 rounded-lg"
          (click)="onSelfAssignClick()"
        >
          Self Assign
        </button>
        } @if (ticketDetail()?.status === 'in-progress') {
        <button
          class="bg-red-200 text-red-900 px-3 py-2 rounded-lg cursor-pointer hover:bg-red-300 border-1 border-red-300"
          (click)="onTicketCloseClick()"
        >
          Close Issue
        </button>
        }
      </div>
    </div>
    <app-chat-window
      self="agent"
      [messagesInput]="combinedMessages()"
      (messageSent)="sendMessage($event)"
    />
  </div>
</div>
